{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Погода</title>
    <link rel="stylesheet" type="text/css" href="{% static "main/css/styles.css" %}">
  </head>



  <body>
    <div class="weather">
      <h1>Я могу показать погоду в вашем городе</h1>
    </div>


    {% comment %} Пост запрос с передачей ввода пользователя {% endcomment %}
    <form action="{% url "weather_info" %}" method="post" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="city">Город:</label>
        <input type="text" name="city" id="city" class="form-control">
        <button type="submit" class="button">Отправить</button>
      </div>
    </form>


  </body>
</html>

